footer {
  background-color: #415161;
  color: white;
  line-height: 1.8;
}

.footer__container {
  display: flex;
  align-items: center;
}
.columns__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 2rem;
  padding: 1rem;
}
.footer-cols {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 15px;
}

.footer-cols > div,
.footer-cols > h3,
.footer-cols > ul {
  width: 100%;
}

.footer-cols > h4 {
  width: 100%;
  margin: 0.8rem 0;
  font-weight: 600;
}
.footer-cols a {
  color: white;
}
.footer-cols a:hover {
  color: #ff3f26;
}

.copyright {
  display: flex;
  border-top: 1px solid #3f4347;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 12px;
}


.social-media a {
  margin-right: 1rem;
  padding: 0.2rem 0.4rem;
}


/*******MEDIA QUERIES*******/

@media screen and (max-width: 921px){
  .columns__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 0 2rem;
  }
}
@media screen and (max-width: 544px){
  .columns__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin: 0 2rem;
  }
}