@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
a{
  color: #415161;
}
body {
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
  overflow-x: hidden;
}
::selection{
  background-color: #ff5151;
  color: black;
}
/* ::-webkit-scrollbar {
  display: none;
} */

h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 2.2666666666667rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.3rem;
}
h5{
  font-size: 1.13rem;
}

:root {
  --transition: 0.3s ease-in-out
}

@media screen and (max-width:921px){
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.17em;
  }
  h4{
    font-size: 1em;
  }
}

