.adminProducts h2{
    color: #415161;
    margin-bottom: 1rem;
}

.adminProducts__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.adminProducts__container .product-img{
    width: 25vw;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.adminProducts__container .productName{
    font-size: large;
    text-transform: capitalize;
    font-weight: 500;
    color: #415161;
    text-align: center;
}
.adminProducts__container .productDesc{
    font-size: medium;
    text-align: center;
}