.cartPage {
  background-color: #f4f5f6;
  color: #415161;
}

.cart__container {
  padding: 4rem 2rem;
}

.product-table {
  margin-bottom: 1.5rem;
}
.cart-productImg {
  width: 70px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.coupon button i {
  display: none;
}
.coupon>button:hover, .update-cart-btn>button:hover, .proceed-btn>button:hover {
  background-color: #ff3f26;
}

.quantityInput {
  width: 55px;
  height: 35px;
}

.cart-productName {
  text-transform: capitalize;
  color: #ff616b;
}

.delete-item-btn{
  background: transparent;
  border: none;
  color:#acacac;
  cursor: pointer;
}
.delete-item-btn:hover{
  color: #415161;
  background-color: transparent;
}
.product-table table {
  width: 100%;
  border: 1px solid #d8dbdf;
}
.product-table table td {
  border-bottom: 1px solid #d8dbdf;
}
.product-table table .header-row {
  background-color: white;
}
.product-table table th {
  text-align: start;
  padding: 0.8rem;
  border-bottom: 1px solid #d8dbdf;
}
.product-table table tr:last-child td {
  border-bottom: none;
}
.product-table table td {
  padding: 0.8rem;
}

.cart-totals {
  width: 48%;
  margin-left: auto;
}
.cart-totals table {
  width: 100%;
}

.deleteProd-btn {
  text-align: center;
  color: #acacac;
}

.last-row {
  display: flex;
  justify-content: space-between;
}

.coupon{
    display: flex;
    align-items: center;
}
.coupon input {
  margin-right: 0.5rem;
  height: 35px;
  width: 16vw;
}

.update-cart-btn button {
  padding: 0.4rem 0.8rem;
}

.cart-totals table {
  border: 1px solid #d8dbdf;
}
.cart-totals table th {
  text-align: start;
  background-color: white;
  padding: 0.8rem;
}
.cart-totals table td {
  padding: 0.8rem;
}
.cart-totals table td:first-child {
  width: 40%;
}
.cart-totals table td {
  border-bottom: 1px solid #d8dbdf;
}

.cart-totals .proceed-btn button {
  width: 100%;
  padding: 1.2rem 0;
}
.cart-totals table tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 921px) {
  .cart-totals {
    width: 100%;
    margin-left: 0;
  }
  .cart-totals td:last-child {
    text-align: end;
  }
}

@media screen and (max-width: 545px) {
  .product-table {
    font-size: 14px;
  }
  .product-table table tr {
    position: relative;
  }
  .product-table table th {
    display: none;
  }
  .product-table table td {
    display: block;
    text-align: right;
  }
  .product-table table td::before {
    content: attr(data-aria-label);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: start;
    padding-left: 0.5rem;
    font-weight: 600;
}
  .last-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .last-row .update-cart-btn button {
    font-size: 13px;
    width: 100%;
    height: 35px;
  }
  .coupon input {
    font-size: 13px;
    width: 35vw;
  }
  .coupon button{
    font-size: 13px;
    width: 35vw;
  }
}
