.createProduct{
    display: flex;
    justify-content: center;
}
.createProduct form{
    width: 50vw;
    display: flex;
    color: #415161;
    flex-direction: column;
}
.createProduct h2{
    font-weight: 700;
}
.createProduct input{
    background-color: transparent;
}
.createProduct .imgWarning{
    text-align: center;
    color: red;
}
.createProduct select{
    padding: 0.5rem;
    font-size: medium;
    margin-bottom: 0.5rem;
}
.createProduct .createProduct-btn{
    padding: 0.6rem;
    background-color: #ff5151;
    width: 180px;
    border: none;
    border-radius: 0.35rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1rem 0;
}

.createProduct .createProduct-btn:hover{
    background-color: #ff3f26;
}

.createProduct form label{
    font-weight: 500;
    font-size: medium;
    user-select: none;
    margin-left: 0.5rem;
}

.createProduct .upload-photo{
    padding: 0.6rem;
    background-color: rgb(107, 107, 107);
    border-radius: 0.35rem;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem 0;
}
.createProduct .upload-photo:hover{
    background-color: rgb(146, 146, 146);
}

.change-product-btns{
    display: flex;
    justify-content: space-between;
}