.deleteModal-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999999;
  opacity: 0.7;
  z-index: 98;
}
.deleteModal {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 1rem;
  background-color: white;
}
.deleteModal p {
  margin-bottom: 1rem;
}
.deleteModal .login-btn {
  margin-left: 0;
}
.hideDeleteModal {
  display: none;
}
