.scrollOrders{
  overflow-y: auto;
  height: 100vh;
  width: fit-content;
}
.adminOrders table{
    margin-left: 10vw;
}
.adminOrders table tr:nth-child(odd){
  background-color: #f4f5f6;
}
.card-item{
  margin-bottom: 1rem;
}
.card-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 15vw;
  aspect-ratio: 1/1;
  margin-bottom: 0.3rem;
}
.noOrder{
  text-align: center;
  padding-top: 2rem;
  color: #415161;
}
td, th{
  vertical-align: top;
  color: #415161;
  padding: 1rem;
}

.card-text{
  text-align: center;
}