.paymentModal-Wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #999999;
  opacity: 0.4;
  z-index: 3;
}

.dropIn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem 0.5rem;
  z-index: 4;
}

.dropIn button{
  margin: 2px auto;

}