.productDetailsPage__container {
  background-color: #f4f5f6;
  padding: 4rem 2rem;
}

.productDetails__card {
  background-color: white;
}

.productDetails__content {
  padding: 6.3vw 7.85vw;
}

.productDetails__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 3.5rem;
}

.productDetails__section .product-img__container {
  display: flex;
  justify-content: center;
}
.productDetails__section .product-img {
  width: 39vw;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.productDetails__section .product-details h1 {
  font-weight: 400;
  font-size: 2rem;
  color: #415161;
  margin-bottom: 1rem;
}
.productDetails__section .product-details .price {
  font-weight: 700;
  font-size: 1.5rem;
  color: #415161;
}
.productDetails__section .product-details .price-shipping {
  margin-bottom: 0.5rem;
}
.productDetails__section .product-details p {
  line-height: 1.85714285714286;
  font-weight: 400;
  font-size: 15px;
}
.input-btn input {
  width: 3.5rem;
  height: 2.3rem;
  margin-right: 1rem;
}

.input-btn span button {
  padding: 0.4rem 4rem;
}
.input-btn span button i {
  display: none;
}
.divider-rule {
  width: 100%;
  height: 1px;
  border-top: 1px solid #dfdede;
}
.product-category {
  font-size: 13px;
  margin: 0.5rem 0;
}
.product-category a {
  color: #ff7776;
}
.description-reviews {
  margin-top: 0.15rem;
}
.description-reviews ul {
  display: flex;
}
.description-reviews ul > li {
  margin: 1rem 1rem 1rem 0;
}
.description-reviews a {
  padding: 1rem 0;
  color: #586873;
  font-weight: 700;
}
.activeTab {
  border-top: 0.23rem solid #ff5151;
}

.relatedProducts__container > h2 {
  color: #415161;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.relatedProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.relatedProducts .card {
  align-items: start;
  width: fit-content;
}
.relatedProducts .card-img {
  width: 18.4vw;
}
.reviewsCount {
  margin: 1rem 0;
}
.submitReview-form {
  border: 1px solid #dfdede;
  padding: 1rem;
  margin: 1.5rem 0;
  color: #415161;
}
.yourRating {
  display: flex;
  margin: 2rem 0;
}
.yourReview label {
  font-size: 18px;
  font-weight: 400;
}
.yourNameAndEmail label,
.reveiwerConsent label {
  font-weight: 400;
}
#yourReview {
  width: 100%;
}
.yourNameAndEmail {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.reviewerName,
.reviewerEmail {
  display: flex;
  flex-direction: column;
}
#reveiwerConsent {
  margin-right: 0.3rem;
}
.submitReview-form .submit-btn button i {
  display: none;
}

.beTheFirst {
  font-size: 1.34rem;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .yourNameAndEmail {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 921px) {
  .productDetailsPage__container {
    padding: 1.5rem;
  }
  .productDetails__section {
    grid-template-columns: repeat(1, 1fr);
  }
  .productDetails__content {
    padding: 2vw;
  }
  .productDetails__section .product-img {
    width: 89vw;
  }
  .relatedProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 545px) {
  .description-reviews {
    margin-top: 0rem;
  }
  .description-reviews ul {
    flex-direction: column;
  }
  .description-reviews ul li {
    margin: 0;
    width: 100%;
  }
  .description-reviews ul li a {
    padding: 0.5rem 0;
    width: 100%;
    display: block;
  }
  .productDetailsPage__container {
    padding: 1.5rem 0.5rem;
  }
  .relatedProducts {
    grid-template-columns: repeat(1, 1fr);
  }
  .relatedProducts .card-img {
    width: 90vw;
  }
}
